* {
    color: #ffffff;
}

hr {
    border-top: 1px solid #777777;
}

body {
    background-color: #000000;
}

h1{
    text-align: center;
    font-size: 48px;
}

orange{
  color: #ffa500
}

nav-item{
  color: #ffa500
}

.carousel{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.card{
  width: 60%;
  color: #000000;
  background-color: #151515;
}

.card .btn{
  background-color: #ffa550;
  border: white;
}

a:link {
  color: #ffa500;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
  background-color: transparent;
  text-decoration: underline;
}

::-webkit-scrollbar {
  display: none;
}